name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
      branch:
        description: 'Branch'
        default: 'master'
        required: true

jobs:
  release:
    name: Release
    uses: kordamp/kordamp-gradle-plugin-workflow/.github/workflows/release.yml@main
    with:
      branch: ${{ github.event.inputs.branch }}
      version: ${{ github.event.inputs.version }}
      java-version: ${{ vars.JAVA_VERSION }}
    secrets:
      github-token: ${{ secrets.GIT_ACCESS_TOKEN }}
      gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
      gpg-public-key: ${{ secrets.GPG_PUBLIC_KEY }}
      gpg-secret-key: ${{ secrets.GPG_SECRET_KEY }}
      gpg-key-id: ${{ secrets.GPG_KEY_ID }}
      gradle-publish-key: ${{ secrets.GRADLE_PUBLISH_KEY }}
      gradle-publish-secret: ${{ secrets.GRADLE_PUBLISH_SECRET }}
      twitter-consumer-key: ${{ secrets.TWITTER_CONSUMER_KEY }}
      twitter-consumer-secret: ${{ secrets.TWITTER_CONSUMER_SECRET }}
      twitter-access-token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
      twitter-access-token-secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
      mastodon-access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
